<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WM | Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="user-icon">
      <ion-title size="large" class="title">WM</ion-title>
      <img src="assets/icon/circle-user.png" alt="User Icon" class="icon">
    </div>
    <br>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Contraseña (8 caracteres)" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</ion-content>