/* Contenedor principal */
ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    padding: 20px;
    margin: 0;
  }
  
  /* Contenedor del Dashboard */
  .dashboard-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
  }
  
  /* Título */
  .dashboard-title {
    font-size: 39pt;
    text-align: left; 
    margin-bottom: 20px;
    margin-left: 10px;
    color: var(--ion-text-color);
    font-weight: bold;
  }
  
  /* Estadísticas */
  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 25pt;
    font-weight: 700;
    width: 100%; 
  }
  
  /* Caja de estadística */
  .stat-box {
    background: #545454;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
  }
  

  .stat-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icono */
  .icon {
    width: 35px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
  }
  
  /* Valor de la estadística */
  .stat-value {
    font-size: 30pt;
    font-weight: bold;
    color: white;
  }
  
  /* Separador */
  .separator {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0);
    margin: 4px 0;
  }
  
  /* Fecha y Hora */
  .date-time {
    width: 100%; 
    //margin-left: 10px;
  }
  
  .date-time-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--ion-text-color);
  }
  
  .date-time-item ion-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--ion-color-primary);
  }
  
  /* Contenedor del gráfico */
  .chart-container {
    width: 100%; 
    height: 300px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    //margin-left: 10px;
  }