<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard-container">
    <div class="stats">
      <div class="stat-box">
        <ion-icon name="eye-outline"></ion-icon>
        <span>59</span>
      </div>
      <div class="stat-box">
        <span>Visitas del día</span>
      </div>
    </div>
    <div class="date-time">
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Día: 26 febrero 2025</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Hora: 00:23</ion-label>
      </ion-item>
    </div>
    <div class="chart-container">
      <canvas id="visitsChart"></canvas>
    </div>
  </div>
</ion-content>
