<ion-header [translucent]="true">
    <ion-toolbar><ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Perfil</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="tab1-page">
        <div class="profile-container">
          <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
          <h2>Admin</h2>
          <p>Correo electrónico:</p>
          <p class="email-text">{{ email }}</p>
          <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>
        </div>
      </ion-content>
      
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="tab1-page">
    <div class="profile-container">
      <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
      <h2>Admin</h2>
      <p>Correo electrónico:</p>
      <p class="email-text">{{ email }}</p>
      <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>
    </div>
  </ion-content>
  