.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.profile-container {
  width: 90%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 800;
}

.correo {
  font-size: 1.4rem;
  margin: 5px 0;
  color: white;
}

.email-text {
  font-weight: bold;
  color: white;
  font-size: large;
}

/*ion-button {
  background-color: #545454!important;
  color: white; 
  margin-top: 20px; 
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
}*/

ion-button {
  --background: white; 
  --color: black; 
  --border-color: white;
  --border-width: 2px; 
  --border-style: solid; 
  --border-radius: 50px!important; 
  margin-top: 20px;
  width: 70%;
  margin: 0 auto;
}

.icon {
  width: 50%;
  color: white;
  filter: brightness(0) invert(1); 
}