/* Contenedor principal */
ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: var(--ion-background-color);
  color: var(--ion-text-color);
  padding: 20px;
  margin: 0;
}

/* Contenedor principal */
.statistics-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto; 
  padding: 20px;
}

/*title */
.statistics-title {
  font-size: 39pt;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10px;
  color: var(--ion-text-color);
  font-weight: bold;
}

/*selector of month */
.month-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  background: #545454;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* visits graphic*/
.chart-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*demographic profile*/
.demographic-info {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.demographic-info h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--ion-text-color);
  background: #545454;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* graphics and legends*/
.charts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

/* pie chart */
.pie-chart {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pie-chart canvas {
  max-width: 300px; 
  height: auto;
  display: block;
}

/*Leyenda right*/
.legend-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  align-items: center;
}

/* Colorcitos */
.stat-box {
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  width: 180px;
  text-align: center;
}

/*Mobile */
@media screen and (max-width: 768px) {
  .charts-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pie-chart {
    order: 1; 
    width: 100%;
  }

  .pie-chart canvas {
    max-width: 350px; 
  }

  .legend-box {
    order: 2;
    align-items: center;
  }

  .stat-box {
    width: 100%;
    max-width: 250px;
  }
}

/* Desktop*/
@media screen and (min-width: 1024px) {
  .charts-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pie-chart {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .legend-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    align-items: center;
  }
}
